/* Move down content because we have a fixed navbar that is 50px tall */
html,
body {
    background-color: #fff;
    color: #555;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: justify; 
    overflow-x: hidden;
    width:100%;
}

/*******  navbar  *******/

/*.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}*/
.navbar-brand {
    font-size: 20px;
    color: #fff ! important;    
}

.navbar-right {
    font-size: 18px;
}


/*******  jumbrotron  *******/

.main-bg {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/manchester.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/manchester.jpg);
    height: 100vh;
    width:auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
}
.text-box {
    padding-top: 250px;
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 40px;
}
.main-heading {
    font-size: 70px;
    font-weight: 300;
    text-align: center;   
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
}
.name {
    color: #19b5fe;
}

/*******  reusables  *******/

h2 {
    font-size: 40px;
    text-align: center;
   
    
}
section {
   padding-top: 50px;
   padding-bottom: 25px;
}
.row {
   padding-bottom: 40px;
}
hr {
    background-color: #19b5fe;
    width: 100px;
    height: 2px;
    margin-bottom: 50px;
}

.hideme {
    opacity: 0;/*or 1*/
}
.visable {
    opacity: 1;
    
}
/*******  about section  *******/
.about {
    background-color: #f4f4f4
}
.post {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
}

.profile {
    height: 200px;
    width: 200px;
    margin-top: -30px;
}
.portfolio-pic {
    margin-left: auto ! important;
    margin-right: auto ! important;
}
.icon-big {
    font-size: 70px;
    color: #19b5fe;

}
.col-md-3 h3 {
    text-align: center;
}


/*******  portfolio section  *******/

#portfolio {
    background-color: #fff;
}

.portfolio-row {
    padding-bottom: 0px;
}

/*******  blog  *******/

.blog-hr {
    height: 2px;
    background-color: #19b5fe;
    margin-bottom: 40px;
    border-color: #19b5fe;
}
#blog {
    background: rgb(21, 87, 153);
    background: -moz-linear-gradient(315deg, rgb(21, 87, 153), rgb(21, 153, 87));
    background: -webkit-linear-gradient(315deg, rgb(21, 87, 153), rgb(21, 153, 87));
    background: -o-linear-gradient(315deg, rgb(21, 87, 153), rgb(21, 153, 87));
    background: -ms-linear-gradient(315deg, rgb(21, 87, 153), rgb(21, 153, 87));
    background: linear-gradient(135deg, rgb(21, 87, 153), rgb(21, 153, 87));
    padding-bottom: 70px;
}

.blog-row {
    padding-bottom: 0px;
}

.blog p {
    color: #fff;
    text-align: center;
    
}
.blog h2 {
    color: #fff;
}
.ion-link:before {
    color: #19f5fe;
    text-align: center;
    font-size: 70px;
    /*padding-top: 100px;*/
}
.icon-blog {
    font-size: 60px;
    color: #fff;
    text-align: center;
    float: none;
}
.blog-links {
     list-style: none;
    float: none;
    font-size: 20px;
    margin-top: 5px;
    padding-left: 0px;
    padding-top: 80px;   
}
.blog-links li {
    font-size: 18px;
}
.blog-row {
    padding-bottom: 0px;
}

.blog-links li {
    display: inline-block;
    padding: 0 10px;
}
.blog-links li a:link,
.blog-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-github.icon-blog {
    color: #000;
     
}
.ion-social-github.icon-blog:hover {
    color: #000;
     
}
.ion-social-twitter.icon-blog {
    color:  #55acee;
    
}
.ion-social-googleplus.icon-blog {
    color:  #dd4b39;   
}

.ion-social-instagram.icon-blog {
    color: #bc2a8d;
}

/*******  form  *******/

.section-form hr {
    border: #19b5fe;
}

.section-form {
    background-color: #222;
    background-image: url(../images/map-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.formh2 {
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

label {
    color: #fff;
}
.contact-form {
    
    width: 60%;
    margin: 0 auto;  
    color: #fff;
    
}
.form-row {
    padding-bottom: 0px;
}
.form-message {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 40px;
    color: #fff;
}
.success {
    background-color: #17eb17!important;
    text-align: center;
}
.error {
    background-color: #ff0000!important;
    text-align: center;
}
input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #666;
}
textarea {
    height: 100px;
    color: #666;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;

    
}
select {
    color: #838080;
}
*:focus {outline: none;}
/*.map {
    width: 100%;
    height: 500px;
} */

/*******  buttons  *******/

.btn-ghost {
    font-size: 30px;
    margin: 20px;
}

.btn:link,
.btn:visited,
input[type=submit] {
    
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
    
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #19b5fe;
    border: 2px solid #19b5fe;
    color: #fff;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid #19b5fe;
    color: #19b5fe;
        
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: rgba(25, 181, 254, 0.7);
}
    
.btn-full:hover,
.btn-full:active {
    border: 2px solid #19b5fe;
    
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 2px solid #19b5fe;
    color:  #fff;
    
        
}


/*******  footer  *******/
/*footer {
    padding: 20px;
    text-align: center;
}*/
footer {
    background-color: #000;
    text-align: center;
    
}
footer p {
    font-size: 20px;
    margin-top: 15px;
    float: left;
}
footer .row {
    padding-bottom: 0px;
}
.social-links {
    list-style: none;
    float: right;
    font-size: 20px;
    margin-top: 5px;

}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    
}
.footer-nav li:last-child
.social-links li:last-child {
    margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}
.social-links li a:link,
.social-links li a:visited {
    font-size: 180%;
}
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}
.ion-social-github:hover {
    color: #413e3e;
}
.ion-social-facebook:hover {
   color: #3b5998; 
}
.ion-social-twitter:hover {
    color:  #55acee;
}
.ion-social-googleplus:hover {
    color:  #dd4b39;   
}
.ion-social-instagram:hover {
    color: #bc2a8d;
}

/*******  queries  *******/

@media(max-width:1197px) {
    .ion-link:before {
        padding-top: 70px;
    }
    .col-md-4 {
     width: 50%;
}
    .hovereffect a.info {
        margin: 100px 0 0 0!important;
    }
}

@media(max-width:992px) {
    

.main-bg {
    background-attachment: scroll;
}
.ion-link:before {
    padding-top: 20px;
}
.profile {
    width: 50%!important;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.form-message {
    width: 80%;
    }
.col-md-4 {
    width: 100%;
}
.hovereffect a.info {
    margin: 200px 0 0 0!important;
}
}


    
@media only screen and (max-width: 480px) {

html,
body {
width:100%;
overflow-x:hidden;
}
.main-bg {
    background-attachment: scroll;
}

.main-heading {
    font-size: 45px;   
}
    .btn-ghost {
        font-size: 15px;
}
   
.blog-pic {
    width: 100%;
    height: auto;
}
.link-row p {
    margin-left:10px;
    margin-right: 10px;
}
.icon-blog {
    font-size: 50px;
}
.icon-link {
    font-size: 50px;
}


.footer-left {
    width: 100%;
    text-align: center !important;
}
.social-links {
    width: 100%;
    padding-left: 0px;
    text-align: center;
}
.hovereffect a.info {
    margin: 70px 0 0 0!important;
}
.form-message {
    width: 100%;
    }
}

/*******  portfolio-overlay  *******/

.col-lg-3, .col-md-4, .col-sm-6, .col-xs-12 {
    padding: 5px!important;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  /*background-color: rgba(25, 181, 254, 0.6);*/
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}
.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 30px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}