/* Move down content because we have a fixed navbar that is 50px tall */
body {
    background-color: #fff;
    color: #555;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    text-align: justify; 
    
}

/*******  navbar  *******/

/*.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}*/
.navbar-brand {
    font-size: 20px;
    color: #fff ! important;    
}

.navbar-right {
    font-size: 18px;
}


/*******  jumbrotron  *******/

.main-bg {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/manchester.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/manchester.jpg);
    height: 100vh;
    width:auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
}
.text-box {
    padding-top: 250px;
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 40px;
}
.main-heading {
    font-size: 70px;
    font-weight: 300;
    text-align: center;   
}
.name {
    color: #19b5fe;
}

/*******  reusables  *******/

h2 {
    font-size: 40px;
    text-align: center;
   
    
}
section {
   padding-top: 50px;
   padding-bottom: 25px;
}
.row {
   padding-bottom: 40px;
}
hr {
    background-color: #19b5fe;
    width: 100px;
    height: 2px;
    margin-bottom: 50px;
}


/*******  about section  *******/


.profile {
    height: 200px;
    width: 200px;
    margin-top: -30px;
}
.portfolio-pic {
    margin-left: auto ! important;
    margin-right: auto ! important;
}
.icon-big {
    font-size: 70px;
    color: #19b5fe;

}
.col-md-3 h3 {
    text-align: center;
}


/*******  portfolio section  *******/

#portfolio {
    background-color: #f4f4f4;
}

.portfolio-row {
    padding-bottom: 0px;
}

.img-responsive {
    height: auto;
    width: 100%;
    

}
.portfolio-item {
    padding: 5px;
    
}



/*******  blog  *******/

.blog-hr {
    height: 2px;
    background-color: #19b5fe;
    margin-bottom: 40px;
    border-color: #19b5fe;
}
#blog {
    
    background: #625e6f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #242d3e , #625e6f , #a49198); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left,  #242d3e , #625e6f , #a49198#625e6f, #a49198); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left,  #242d3e , #625e6f , #a49198); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,  #242d3e , #625e6f , #a49198); /* Standard syntax (must be last) */
    padding-bottom: 70px;
}

.blog-row {
    padding-bottom: 0px;
}

.blog p {
    color: #fff;
    text-align: center;
    
}
.blog h2 {
    color: #fff;
}
.ion-link:before {
    color: #fff;
    text-align: center;
    font-size: 70px;
    /*padding-top: 100px;*/
}
.icon-blog {
    font-size: 70px;
    color: #fff;
    text-align: center;
    padding-right:;
    float: none;
}
.blog-links {
     list-style: none;
    float: none;
    font-size: 20px;
    margin-top: 5px;
    padding-left: 0px;
    padding-top: 80px;
    
    
}
.blog-row {
    padding-bottom: 0px;
}
.blog-links li {
    display: inline-block;
    padding: 0 10px;
}
.blog-links li a:link,
.blog-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.ion-social-instagram {
    padding-right:;
}
.ion-social-github.icon-blog {
    color: #000;
     
}
.ion-social-github.icon-blog:hover {
    color: #000;
     
}
.ion-social-twitter.icon-blog {
    color:  #55acee;
    
}
.ion-social-googleplus.icon-blog {
    color:  #dd4b39;   
}

.ion-social-instagram.icon-blog {
    color: #bc2a8d;
}


.blog-pic {
    /*width: 94%;
    margin-left: 3%;
    margin-right: 3%;*/
    background-color: ;
}
.octocat {
    width: 50px;
    height: 50px;
}
/*#blog-col {
    margin-left: auto;
    margin-right: auto;
    float: none;
}*/


/*******  form  *******/

.section-form hr {
    border: #19b5fe;
}

.section-form {
    background-color: #222;
    background-image: url(../images/map-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.formh2 {
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}


.contact-form {
    
    width: 60%;
    margin: 0 auto;  
    color: #fff;
    
}
input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;

    
}
select {
    color: #838080;
}
*:focus {outline: none;}
/*.map {
    width: 100%;
    height: 500px;
} */

/*******  buttons  *******/

.btn-ghost {
    font-size: 30px;
}

.btn:link,
.btn:visited,
input[type=submit] {
    
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
    
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #19b5fe;
    border: 2px solid #19b5fe;
    color: #fff;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid #19b5fe;
    color:  #19b5fe;
        
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #19b5fe;
}
    
.btn-full:hover,
.btn-full:active {
    border: 2px solid #19b5fe;
    
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 2px solid #19b5fe;
    color:  #fff;
    
        
}


/*******  footer  *******/
/*footer {
    padding: 20px;
    text-align: center;
}*/
footer {
    background-color: #000;
    padding:;
    text-align: center;
    
}
footer p {
    font-size: 20px;
    margin-top: 15px;
    float: left;
}
footer .row {
    padding-bottom: 0px;
}
.social-links {
    list-style: none;
    float: right;
    font-size: 20px;
    margin-top: 5px;

}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    
}
.footer-nav li:last-child
.social-links li:last-child {
    margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}
.social-links li a:link,
.social-links li a:visited {
    font-size: 180%;
}
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}
.ion-social-github:hover {
    color: #413e3e;
}
.ion-social-facebook:hover {
   color: #3b5998; 
}
.ion-social-twitter:hover {
    color:  #55acee;
}
.ion-social-googleplus:hover {
    color:  #dd4b39;   
}
.ion-social-instagram:hover {
    color: #bc2a8d;
}


@media(max-width:1197px) {
    .ion-link:before {
        padding-top: 70px;
    }
}

@media(max-width:1000px) {
    

    .main-bg {
        background-attachment: scroll;
    }
    .ion-link:before {
        padding-top: 20px;
    }
    .profile {
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .img-responsive {
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    
}
    
   
@media only screen and (max-width: 480px) {
    
.main-bg {
        background-attachment: scroll;
    }

.main-heading {
    font-size: 45px;
    
}
    
.btn-ghost {
    font-size: 15px;
}
   
    .blog-pic {
        width: 100%;
        height: auto;
    }
    
    .footer-left {
        width: 100%;
        text-align: center !important;
    }
    .social-links {
        width: 100%;
        padding-left: 0px;
        text-align: center;
    }
}